.login {
   display: flex;
   align-items: center;
   justify-content: center;

   .form-wrapper {
      background-color: #6531c5;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 60px;
      max-width: 90vw;

      .logo {
         display: block;
         width: 180px;
         margin: 0px auto 40px;
      }

      .form {
         display: flex;
         flex-direction: column;
      }
   }
}
