.nav-bar {
   li {
      display: flex;
      align-items: center;
      margin: 0 10px;
      @media (max-width: 667px) {
         margin-left: 10px;
         margin-right: 0;
      }
      a {
         text-decoration: none;
         text-align: center;
      }
   }
}
